<!-- views/blog.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/tailwind.css">
</head>

<body class="bg-gray-100 p-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-semibold">Selamat datang di Dashboard</h1>
    <button id="logoutButton"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Logout</button>
  </div>

  <button onclick="window.location.href='/addProduct'"
    class="bg-lime-500 mb-4 text-white py-2 px-4 rounded hover:bg-lime-600">
    Tambah Produk
  </button>

  <div class="grid grid-cols-4 gap-4">
    <% if (products.length> 0) { %>
      <% products.forEach(function (product) { %>
        <a href="/products/<%= product._id %>" class="text-black">
          <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <% if (product.img_url) { %>
              <img src="<%= product.img_url %>" alt="Gambar Produk" class="w-full h-auto">
              <% } %>
                <div class="p-4">
                  <h2 class="text-xl font-semibold mb-2">
                    <%= product.nama_produk %>
                  </h2>
                  <h3 class="text-green-500 my-2">
                    Rp <%= product.price %>
                  </h3>
                  <p class="text-justify">
                    <%= product.description %>
                  </p>
                </div>
          </div>
        </a>
        <% }); %>
          <% } else { %>
            <p class="col-span-4 mt-4">Tidak ada produk yang tersedia.</p>
            <% } %>
  </div>

  <script>
    document.getElementById('logoutButton').addEventListener('click', function () {
      fetch('/logout', {
        method: 'DELETE',
      })
        .then(function (response) {
          if (response.status === 200) {
            window.location.href = '/';
          } else {
            console.error('Gagal logout');
          }
        })
        .catch(function (error) {
          console.error('Terjadi kesalahan:', error);
        });
    });
  </script>
</body>

</html>